body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
}

h1,
h2{
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Righteous', cursive;
}

h2 {
     font-size: 22px;
     font-family: 'Righteous', cursive;
}

li,
ol {
     margin: 10px;
     padding: 10px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 17px;
     line-height: 28px;
}

a {
     color: #2222FF;
     text-decoration: underline;
}

img {
     max-width: 100%;
     height: auto;
}

