body {
text-decoration:none;
margin-top:50px;
margin-left:50px;
margin-right:50px;
margin-bottom:50px;
width:1000px;
height:auto;
border-right-style:solid;
border-left-style:solid;
border-bottom-style:solid;
border-top-style:solid;
border-color:#000000;
}


	
